.start-game-container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.enter-your-name-label {
    color: #fff;
}

.name-input {
    width: 220px !important;
}

.start-button {
    width: 220px;
}
